{% extends 'base.html' %} {% block body %}

<div class="row my-3">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5>Customers</h5>
            </div>
            <div class="card-body">
                <div class="row mx-auto">
                    <div class="col-lg-6">
                        <a href="{% url 'accounts:update_customers' customer.id %}" class="btn btn-outline-primary">Update Customer</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="{% url 'accounts:delete_customer' customer.id %}" class="btn btn-outline-danger">Delete Customer</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5>Contact Information</h5>
            </div>
            <div class="card-body">

                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text">Email : {{customer.email}}</p>
                <p class="card-text">Phone : {{customer.phone}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <h5>Total Orders</h5>
            </div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <h6 class="text-center">{{order_count}}</h6>
            </div>
        </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Status</th>
                            <th scope="col">Update</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    {% for o in order %}
                    <tbody>
                        <tr>
                            <td>{{o.products}}</td>
                            <td>{{o.products.category}}</td>
                            <td>{{o.date_created}}</td>
                            <td>{{o.status}}</td>
                            <td><a href="{% url 'accounts:update_orders' o.id %}">Update</a></td>
                            <td><a href="{% url 'accounts:delete_orders' o.id %}">Remove</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock %}