{% extends 'base.html' %} {% load crispy_forms_tags %} {% block body %}

<div class="row my-3">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-body">
                {% if form.instance.pk %}
                <h3>Update Order</h3> {% else %}
                <h3>Login</h3> {% endif %}
                <form method="POST">
                    {% csrf_token %} {{form|crispy}}

                    <button type="submit" class="my-3 btn btn-warning">
                        {% if form.instance.pk %}
                        Update {% else %}
                        Login {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}